pre, .pre  {
  overflow-x: auto;
  overflow-y: hidden;
  overflow: scroll;
}

pre code {
  display: block;
  padding: 1.0em 0em;
  white-space: pre;
  font-size: .875rem;
  line-height: 1.3;
}

pre {
  text-align: left;
  background-color: #111;
  color: #AAF;
  white-space: pre;
  hyphens: none;
  position: relative;
}
